<!DOCTYPE html>
<html>
<head>
	<title>sample app</title>
	<script src="js/plupload.full.min.js"></script>
</head>
<body>
	<h1>upload some files</h1>
	<ul id="filelist"></ul>
		<br />
		 
		<div id="container">
		    <a id="browse" href="javascript:;">[Browse...]</a>
		    <a id="start-upload" href="javascript:;">[Start Upload]</a>
		    <a id="start-stream" href="/stream">[stream file]</a>
		    <a id="start-inspect" href="/inspect">[inspect file]</a>
		</div>

		<script src="/main.js"></script>
</body>
</html>